.gridcontainer{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-content: center;
    padding: 20px;
}

.masthead{
    grid-column: 2;
    grid-row: 1;
    align-self: center
}

.logo{
    display: block;
    margin: 0 auto;
    width: 45%;
}

h1 {
    font-family: Georgia, serif;
    padding: 1vw;
    display: block;
    margin: 0 auto;
}

.flexboxcontainer{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
}

#ulmenu a:hover {
    background-color: #133333;
}

#ulmenu a {
    display: block;
    color: #F5FAFA;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    font-family: Georgia, serif;
}

.menulist {
    display: inline-block;
}

.ulmenulist {
    list-style-type: none;
    margin: 8px;
    padding: 0;
    overflow: hidden;
    background-color: #184040;


}

.gridcontainer2{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-content: center;
    padding: 20px;
}

.div1 {
    width: 30%;
    height: 40%;
    border: 1px solid dimgrey;
    display: block;
    padding: 5%;
    margin: 2%;
    float: left;
}

.flexcontent{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 5;
}

.bookCover{
    display: block;
    margin: 1vw;
    width: 20vw;
}

#intro {
    grid-column: 1/3;
    grid-row: 4;
    padding: 2%;
    margin: 0 auto;
}

#book-list{
    list-style-type: none;
    display: inline;

}

#boktipsformular{
    grid-column: 2;
    grid-row: 7;
}

.container {
    width: 500px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}

#skicka {
    width: 20em;  height: 2em;
}