.gridcontainer{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-content: center;
    padding: 20px;
}

.masthead{
    grid-column: 2;
    grid-row: 1;
    align-self: center
}

.logo{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.flexboxcontainer{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;

}

.flex{
    flex-basis: content;
}

li a:hover {
    background-color: #111111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}