<!DOCTYPE html>

<head>
<link rel="stylesheet" type="text/css" href="css/header.css">
    <meta charset="utf-8">
</head>
<div class="gridcontainer">
<header class="masthead">
    <div>
        <a href="index.html">
            <img class="logo" src="img/blomlogga_sp.jpg">
        </a>
    </div>
    <div class="JB">

    </div>
</header>
<div class="flexboxcontainer">
    <div>
        <ul id="ulmenu" class="ulmenulist">
            <li class="menulist"><a href="index.html">Johannas Bokklubb</a></li>
            <li class="menulist"><a href="#topplista" onclick="navigate()">Topplista</a></li>
            <li class="menulist"><a href="#sokpasidan" onclick="navigate()">Sök på sidan</a></li>
            <li class="menulist"><a href="#dela" onclick="navigate()">V&aumlrva en v&aumln</a></li>
            <li class="menulist"><a href="boktips.html">Tipsa om en bok </a></li>
        </ul>
    </div>
</div>
</div>
<script>
    function navigate() {
        alert("Not yet available.");
    }
</script>

</html>